.footer {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
  text-align: center;
}

.footer h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;

}

.footer .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer .item.text {
    margin-bottom: 0;
  }
}

.footer .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}


.footer .signature {
  text-align: center;
  opacity: 0.4;

}

