body {
  height: auto;
  background: #475d62 url(../../assets/img/fond1.jpg) fixed;
  background-size: cover;
  position: relative;
}

.login {
  height: 800px;
  background-size: cover;
  position: relative;
}

.login form {
  max-width: 320px;
  width: 90%;
  background-color: #1e2833;
  padding: 40px;
  border-radius: 5px 50px 5px 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);

}

.login form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login form .btn-primary {
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;

}

.login form .btn-primary:hover, .login form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.login form .new_member {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #7b8793;
  opacity: 0.9;
  font-weight: bold;
  text-decoration: none;
}

.login form .new_member:hover, .login form .new_member:active {
  opacity: 1;
  text-decoration: none;
}

.login form .btn-primary:active {
  transform: translateY(1px);
}



.nav-link {
  color: white !important;
  font-size: 1.4em;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-weight: bold;
}

img {
  margin-top: 10px;
}

.login img {
  margin: 10px 60px 10px;
  width: 40%;
  height: 40%;
}

button{
  color: white !important;
  font-weight: bold !important;
  border-radius:  50px 50px 50px 50px !important;
}
